body {
  background-color: #011111;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  margin: 0px;
}

/* Estilos de textos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
}

h1 {
  color: #003CD7;
  font-weight: 900;
  font-size: 4em;
  margin-bottom: 16px;
  line-height: 1.2em;
  text-align: center;
}

h2 {
  color: #FA7C1F;
  font-weight: 700;
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 16px;
  text-align: center;
}

h3 {
  color: #FFF;
  font-weight: 700;
  font-size: 3em;
}

h4 {
  color: #FA7C1F;
  font-weight: 400;
  font-size: 1.5em;
}

h5 {
  color: #FA7C1F;
  font-weight: 400;
  font-size: 1.5em;
}

h6 {
  color: #FFF;
  font-weight: 100;
  font-size: 1.1em;
}

p {
  font-family: "Outfit", sans-serif;
  color: #FFF;
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 16px;
}

/* Nav */
nav {
  background-color: #FFF;
  color: #011111;
  font-family: "Outfit", sans-serif;
  font-size: 1.1em;
  padding: 16px;
  text-align: center;
  width: 100vw;
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-logo {
  width: 120px;
  padding: 2%;
}

nav a {
  color: #011111;
  font-family: "Outfit", sans-serif;
  font-size: 1.1em;
  margin: 0px 16px;
  text-decoration: none;
}

nav a:hover {
  color: #003CD7;
}

nav a:focus {
  color: #FA7C1F;
}

nav a:active {
  color: #003CD7;
}

nav a:active {
  color: #5E5E5E;
}

.nav-titles {
  padding: 0px 16px 0px 0px;
  gap: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.nav-search {
  border-radius: 100px;
  background: #EFEFEF;
  margin: 16px;
  padding: 16px;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.nav-search_ext {
  border-radius: 100px;
  background: #EFEFEF;
  width: 252px;
  height: 50px;
  flex-shrink: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-categories {
  position: relative;
  display: inline-block;
}

.navbar-categories-content {
  background-color: #5E5E5E;
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.navbar-categories-content a {
  color: #FFF;
  padding: 16px;
  display: block;
  text-decoration: none;
}

.navbar-categories:hover .navbar-categories-content {
  display: block;
}

main {
  max-width: 80vw;
  margin: 24px auto;
  padding: 24px;
}

.search-bar {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  gap: 24px;
}

.search-input {
  background: #EFEFEF;
  border-radius: 100px;
  color: #003CD7;
  font-size: 1.1em;
  margin: 16px;
  padding: 16px;
  width: 50vw;
  height: 40px;
}

nav button {
  font-size: 1.1em;
  padding: 24px;
  min-width: 10vw;
  width: min-content;
}

button {
  background: #003CD7;
  border-radius: 100px;
  color: #FFF;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  padding: 24px;
  border: none;
  cursor: pointer;
  min-width: 20vw;
  width: min-content;
}

.category-slider {
  margin-bottom: 24px;
  padding: 24px;
}

.result-container {
  background-color: #EFEFEF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  gap: 32px;
}

.category-slider {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.category-card {
  background-color: #EFEFEF;
  border-radius: 64px;
  margin: 16px;
  padding: 16px;
}

/* Footer */
footer {
  background-color: #5E5E5E;
  color: #FFF;
  padding: 16px 0px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-section {
  max-width: 30vw;
}

.footer-section h5 {
  font-size: 1.1em;
  margin-bottom: 16px;
}

.footer-section a {
  display: block;
  color: #FFF;
  text-decoration: none;
  margin-bottom: 16px;
}

@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  h1 {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 16px;
  }
  h2 {
    color: #FA7C1F;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 16px;
  }
  /* Nav */
  nav {
    background-color: #FFF;
    color: #011111;
    font-family: "Outfit", sans-serif;
    font-size: 1em;
    padding: 16px;
    text-align: center;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .navbar-logo {
    width: 20vw;
    padding: 2%;
  }
  nav a {
    color: #011111;
    font-family: "Outfit", sans-serif;
    font-size: 1em;
    margin: 0px 16px;
    text-decoration: none;
  }
  .nav-titles {
    padding: 0px 16px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .nav-search {
    border-radius: 100px;
    background: #EFEFEF;
    margin: 16px;
    padding: 16px;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    box-sizing: border-box;
  }
  .nav-search_ext {
    border-radius: 100px;
    background: #EFEFEF;
    width: 252px;
    height: 50px;
    flex-shrink: 0;
  }
  .navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .navbar-categories {
    position: relative;
    display: inline-block;
  }
  .navbar-categories-content {
    background-color: #5E5E5E;
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 80vw;
    z-index: 1;
  }
  .navbar-categories-content a {
    color: #FFF;
    padding: 16px;
    display: block;
    text-decoration: none;
  }
  .navbar-categories:hover .navbar-categories-content {
    display: block;
  }
  main {
    max-width: 80vh;
    margin: 24px auto;
    padding: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
