// custom.scss
// npm run compile-sass para compilar
// sass --watch ./css/style.scss:./css/style.css para visualizar

// Mis variables personalizadas antes de importar Bootstrap
$blue: #003CD7;
$black: #203f59;
$orange: #FA7C1F;
$white: #FFF;
$softgray: #EFEFEF;

$bs-blue: #003CD7;
$bs-orange: #FA7C1F;
$bs-gray: #5E5E5E;
$bs-primary: #003CD7;
$bs-secondary: #FA7C1F;
$bs-info: #EFEFEF;
$bs-light: #FFF;
$bs-dark: #203f59;

$bs-gray-dark: #203f59;
$bs-gray-100: mix($bs-gray-dark, white, 5%);
$bs-gray-200: mix($bs-gray-dark, white, 15%);
$bs-gray-300: mix($bs-gray-dark, white, 30%);
$bs-gray-400: mix($bs-gray-dark, white, 45%);
$bs-gray-500: mix($bs-gray-dark, white, 60%);
$bs-gray-600: mix($bs-gray-dark, white, 75%);
$bs-gray-700: mix($bs-gray-dark, white, 85%);
$bs-gray-800: mix($bs-gray-dark, white, 90%);
$bs-gray-900: mix($bs-gray-dark, white, 95%);

// Calcular valores RGB
$bs-primary-rgb: 13, 110, 253;
$bs-secondary-rgb: 108, 117, 125;
$bs-success-rgb: 25, 135, 84;
$bs-info-rgb: 13, 202, 240;
$bs-warning-rgb: 255, 193, 7;
$bs-danger-rgb: 220, 53, 69;
$bs-light-rgb: 248, 249, 250;
$bs-dark-rgb: 33, 37, 41;

// Colores de énfasis de texto
$bs-primary-text-emphasis: $blue;
$bs-secondary-text-emphasis: $black;
$bs-success-text-emphasis: $white;
$bs-info-text-emphasis: $softgray;
$bs-warning-text-emphasis: yellow;
$bs-danger-text-emphasis: red;
$bs-light-text-emphasis: $softgray;
$bs-dark-text-emphasis: $black;

// Colores sutiles de fondo
$bs-primary-bg-subtle: #cfe2ff;
$bs-secondary-bg-subtle: #e2e3e5;
$bs-success-bg-subtle: #d1e7dd;
$bs-info-bg-subtle: #cff4fc;
$bs-warning-bg-subtle: #fff3cd;
$bs-danger-bg-subtle: #f8d7da;
$bs-light-bg-subtle: #fcfcfd;
$bs-dark-bg-subtle: #ced4da;

$bs-btn-close-color: $white;
$bs-btn-close-opacity: 0.5;
$bs-btn-close-hover-opacity: 0.75;
$bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(0, 60, 215, 0.25);
$bs-btn-close-focus-opacity: 1;
$bs-btn-close-disabled-opacity: 0.25;
$bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);

// Fuente
$outfit-font: 'Outfit', sans-serif;

// Variables de fuente customizadas sobre Bootstrap
$bs-font-sans-serif: system-ui, -apple-system, "#{$outfit-font}", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// Degradado
$bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

// Estilos personalizados a partir de Bootstrap
$bs-body-font-family: var(--bs-font-sans-serif);
$bs-body-color: #203f59;
$bs-body-color-rgb: 33, 37, 41;
$bs-secondary-color: rgba(33, 37, 41, 0.75);
$bs-secondary-color-rgb: 33, 37, 41;
$bs-secondary-bg: $softgray;
$bs-secondary-bg-rgb: 233, 236, 239;
$bs-tertiary-color: rgba(33, 37, 41, 0.5);
$bs-tertiary-color-rgb: 33, 37, 41;
$bs-tertiary-bg: #f8f9fa;
$bs-tertiary-bg-rgb: 248, 249, 250;
$bs-heading-color: inherit;
$bs-link-color: #003CD7;
$bs-link-color-rgb: 13, 110, 253;
$bs-link-decoration: underline;
$bs-link-hover-color: #FA7C1F;
$bs-link-hover-color-rgb: 10, 88, 202;
$bs-code-color: #d63384;
$bs-highlight-color: #203f59;
$bs-highlight-bg: #fff3cd;
$bs-border-width: none;
$bs-border-style: none;
$bs-border-color: $black;
$bs-border-color-translucent: rgba(0, 0, 0, 0.175);
$bs-border-radius: 0.5rem;
$bs-border-radius-sm: 1rem;
$bs-border-radius-lg: 2rem;
$bs-border-radius-xl: 3rem;
$bs-border-radius-xxl: 5rem;
$bs-border-radius-2xl: var(--bs-border-radius-xxl);
$bs-border-radius-pill: 100px; // Adjusted to 100px
$bs-focus-ring-color: rgba(0, 60, 215, 0.25);

[data-bs-theme=dark] {
    color-scheme: dark;
    $bs-body-color: #FFF;
    $bs-body-color-rgb: 255, 255, 255;
    $bs-body-bg: #203f59;
    $bs-body-bg-rgb: 33, 37, 41;
    $bs-emphasis-color: #fff;
    $bs-emphasis-color-rgb: 255, 255, 255;
}

// Excluir Bootstrap
$bootstrap-exclude: true;
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Estilos personalizados aquí
// Colores Enlaces Nav
$nav-a: #212b33;
$nav-a-hvr: #003CD7;
$nav-a-focus: #FA7C1F;
$nav-a-active: #003CD7;
$nav-a-visited: #5E5E5E;

// Radio
$radius-xl: 100px;
$radius-l: 80px;
$radius-m: 64px;
$radius-s: 24px;
$radius-xs: 16px;

// Fuentes
$outfit-font: 'Outfit', sans-serif;
// Pesos de Fuentes
$fnt-w-light: 100;
$fnt-w-reg: 400;
$fnt-w-bold: 700;
$fnt-w-xb: 900;
// Tamaños de Fuentes
$fnt-sz-xl: 3.4em;
$fnt-sz-l: 2.4em;
$fnt-sz-m: 1.3em;
$fnt-sz-normal: 1.1em;
$fnt-sz-small: .8em;
$fnt-sz-xsmall: .6em;
// Tamaños de Fuentes para Móvil
$mb-fnt-sz-xl: 2em;
$mb-fnt-sz-l: 1.5em;
$mb-fnt-sz-m: 1.1em;
$mb-fnt-sz-normal: 1em;
$mb-fnt-sz-small: .6em;
$mb-fnt-sz-xsmall: .5em;

// Estilos Generales
body {
    background-color: $black;
    box-sizing: border-box;
    font-family: $outfit-font;
}

/* Estilos de textos */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $outfit-font;
}

h1 {
    color: $blue;
    font-weight: $fnt-w-xb;
    font-size: $fnt-sz-xl;
    line-height: 1.2em;
}

h2 {
    color: $black;
    font-weight: $fnt-w-bold;
    font-size: $fnt-sz-l;
    line-height: 1em;
}

h3 {
    color: $blue;
    font-weight: $fnt-w-bold;
    font-size: $fnt-sz-l;
}

h4 {
    color: $orange;
    font-weight: $fnt-w-reg;
    font-size: $fnt-sz-m;
}

h5 {
    color: $orange;
    font-weight: $fnt-w-reg;
    font-size: $fnt-sz-m;
}

h6 {
    color: $white;
    font-weight: $fnt-w-light;
    font-size: $fnt-sz-normal;
}

.hero {
    background-color: $softgray;
    font-family: $outfit-font;
    color: $blue;
    font-weight: $fnt-w-reg;
    font-size: $mb-fnt-sz-m;
    height: 60vh;
    position: relative;
    /* Ensure relative positioning for absolute children */

    .mask {
        background-color: rgba(239, 239, 239, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    h1 {
        color: $blue;
    }
}

main p {
    font-family: $outfit-font;
    color: $white;
    font-weight: $fnt-w-reg;
    font-size: $fnt-sz-normal;
}

a {
    color: $blue;
}

a:hover {
    color: $orange;
}

a:focus {
    color: $orange;
}

a:active {
    color: $black;
}

/* Nav */
nav {
    background-color: $white;
    color: $black;
    font-family: $outfit-font;
    font-size: $fnt-sz-m;
    text-align: center;
    width: 100vw;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    .navbar-logo {
        width: 120px;
        padding: 2%;
    }

    nav a {
        color: $nav-a;
        font-family: $outfit-font;
        font-size: $fnt-sz-normal;
        text-decoration: none;
    }

    .nav-link {
        color: $blue;
        font-size: $fnt-sz-normal;
    }

    nav a:hover {
        color: $nav-a-hvr;
        font-size: $fnt-sz-m;
    }

    nav a:focus {
        color: $nav-a-focus;
        font-size: $fnt-sz-m;
    }

    nav a:active {
        color: $nav-a-active;
        font-size: $fnt-sz-m;
    }

    nav a:visited {
        color: $nav-a-visited;
    }
}

.nav-search {
    border-radius: $radius-xl;
    background: $softgray;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.nav-search_ext {
    border-radius: $radius-xl;
    background: $softgray;
    width: 252px;
    height: 50px;
    flex-shrink: 0;
}

.navbar-container {
    background-color: $softgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-categories {
    position: relative;
    display: inline-block;
}

.navbar-categories-content {
    background-color: $black;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.navbar-categories-content a {
    color: $white;
    display: block;
    text-decoration: none;
}

.navbar-categories:hover .navbar-categories-content {
    display: block;
}

.navbarNavDropdown {
    background-color: $softgray;
}

.search-input {
    background: $softgray;
    border-radius: $radius-xl;
    color: $blue;
    font-size: $fnt-sz-normal;
    width: 70vw;
    height: 60px;
}

nav button {
    font-size: $fnt-sz-normal;
    min-width: 15vw;
    width: min-content;
}

button {
    background: $blue;
    border-radius: $radius-xl;
    color: $white;
    font-family: $outfit-font;
    font-weight: $fnt-w-bold;
    font-size: $fnt-sz-normal;
    border: none;
    cursor: pointer;
    min-width: 20vw;
    width: min-content;
}

// Buttons
.btn-primary {
    $bs-btn-color: $white;
    $bs-btn-bg: $blue;
    $bs-btn-border-color: $blue;
    $bs-btn-hover-color: $white;
    $bs-btn-hover-bg: $orange;
    $bs-btn-hover-border-color: none;
    $bs-btn-focus-shadow-rgb: 49, 132, 253;
    $bs-btn-active-color: #fff;
    $bs-btn-active-bg: $black;
    $bs-btn-active-border-color: none;
    $bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    $bs-btn-disabled-color: $white;
    $bs-btn-disabled-bg: $softgray;
    $bs-btn-disabled-border-color: none;
}

.result-container {
    background-color: $softgray;
    min-width: 80vw;
    height: fit-content;
}

.category-cards {
    background-color: #efefef;
    border: 1px solid #fff;
    min-width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.category-cards .card {
    background-color: #fff;
    border-radius: $radius-s;
    width: 32%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;

    img {
        border-radius: $radius-s;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .card-title {
        color: $blue;
        font-size: $mb-fnt-sz-l;
    }

    .card-text {
        color: $black;
        font-size: $fnt-sz-m;

        span {
            color: $orange;
        }
    }

    .fa-star {
            color:$orange;
        }

    // Efecto hover
    &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
}

.modal-content {
    width: 100%;

    .modal-header {
        background-color: $blue;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
    
        .modal-title {
            color: $softgray;
            margin-bottom: 0;
            line-height: var(--bs-modal-title-line-height);
        }
    }

    .btn-close {
        box-sizing: content-box;
        width: 1em;
        height: 1em;
        padding: 0.25em 0.25em;
        background-color: $softgray;
        color: $white;
        border: 0;
    }
    
    .modal-body {
        background-color: $softgray;
        color: $black;
        position: relative;
        flex: 1 1 auto;
        padding: var(--bs-modal-padding);
    
        h3, .h3 {
            color: $blue;
            font-weight: 700;
            font-size: 2em;
        }
    }
    
    .modal-footer {
        display: flex;
        flex-shrink: 0;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
        background-color: $black;
        border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
        border-bottom-right-radius: var(--bs-modal-inner-border-radius);
        border-bottom-left-radius: var(--bs-modal-inner-border-radius);
        flex-direction: row;
    }
}

#paginacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;

    #btnAnterior,
    #btnSiguiente {
        text-align: center;
        font-size: $fnt-sz-m;
    }
}

.creator {
    .creator-img {
        width: 130px;
        max-width: 150px;
    }
    p {
        color: $blue;
    }
}

/* Footer */
footer {
    background-color: $softgray;

    .footer-content p {
        color: $black !important;
        font-weight: $fnt-w-reg;
        font-size: $fnt-sz-normal;
    }

    .footer-content a {
        color: $blue;
    }

    .footer-content a:hover {
        color: $orange;
    }
}

@media (max-width: 767px) {

    /* Mobile: 1 card por row */
    .category-cards .card {
        width: 100%;
    }

    .modal-footer {
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        .btn {
            width: 40vh;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /* Tablet: 2 cards por row */
    .category-cards .card {
        width: 48%;
    }

    .modal-footer {
        flex-direction: column;
        align-items: space-between;
        gap: 3rem;

        .btn {
            width: 30vh;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    /* Medium devices: 3 cards por row */
    .category-cards .card {
        width: 32%;
    }
}

// Media Query iPad Pro 11
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
only screen and (min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

    // Estilos iPad Pro 11 debajo
    h1 {
        font-weight: $fnt-w-bold;
        font-size: $mb-fnt-sz-l;
    }

    h2 {
        color: $orange;
        font-weight: $fnt-w-bold;
        font-size: $mb-fnt-sz-m;
    }

    .navbar-logo {
        width: 20vw;
        padding: 2%;
    }

}


// Página interna

#juego-individual {
    background-color: $blue;
    justify-content: space-between;
    height: calc(100vh - 100px);
    display: flex;
  }
  
  .imagen_juegoindividual {
    background-color: $orange;
    width: 100%;
  }
  
  .informacion_juego {
    background-color: $black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }
  
  .datos_juego {
    color: #003a70;
    background-color: azure;
    border-radius: 10px;
    width: 70%;
    height: 80%;
    box-shadow: 0 0 5px gray;
  }
  
  .datos_juego table {
    font-size: 13px;
  }
  
  .datos_juego table .negrita {
    font-weight: 700;
  }